/************ GENERAL ***************/

header {
	margin-top: 10px;
	margin-bottom: 10px;
}



/************ BASE STYLES ***********/

.nav-menu li,
.intro-content,
.options,
.contact {
	font-family: 'Open Sans', sans-serif;
}


/************ NAV *******************/

.nav-icon {
	width: 30px;
}

.nav-menu li {
	display: inline;
	font-weight: 600;
}

.nav-menu {
	float: right;
}

.nav-icon,
.nav-menu {
	display: inline-block;
}

.nav-menu ul {
	margin-right: 200px;
}

.nav-menu a {
	padding-left: 20px;
}

.nav-icon {
	margin-left: 200px;
}

a:link,
a:visited {
	text-decoration: none;
	color: #AAAAAA;
}

a:active,
a:hover {
	color: #0A0A0A;
}

#nav-main {
	color: #171717;
}


/************ INTRO SECTION ***************/

body {
	margin: 0;
}

.intro {
	background-image: url("../img/first-background.jpg");
	height: 650px;
	width: auto;
	text-align: center;
}

.intro-content {
	padding-top: 280px;
}

.intro-content h1 {
	display: inline;
	font-weight: 300;
	font-size: 2.5em;
	color: #fff;
}

.intro-content h3 {
	font-weight: 300;
	color: #fff;
}

.intro-button {
	background-color: #F27935;
	color: white;
	width: 110px;
	height: 50px;
	border: none;
	border-radius: 5px;
}



/************ OPTIONS SECTION ***************/

.options {
	margin: 75px 0px 150px;
}

.options h1 {
	font-size: 2.2em;
	font-weight: 400;
	text-align: center;
}

.options ul {
	padding-right: 216px; 
	padding-left: 216px;
	display: inline-flex;

}

.options li {
	padding-top: 60px;
	list-style-type: none;
	width: 300px;
}

.options img {
	width: 150px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.options h3 {
	text-align: center
}


/************ FOOTER ***************/

.contact p {
	text-align: center;
	font-size: 0.9em;
}

hr {
	width: 700px;
	margin-left: 316px;
	margin-right: 316px;
}

.contact li {
	list-style: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin: 10px;
	display: inline-flex;
}

.social-icons {
	width: 190px;
	padding-left: 571px;
	padding-right: 572px;
}

.fa-twitter,
.fa-facebook,
.fa-instagram {
	display: block;
	padding: 10px;
	width: 18px;
	border-radius: 100%;
	text-align: center;
	border: solid 1px #999999;
}

.fa-twitter {
	color: #42C0FB;
}

.fa-facebook {
	color: #42647F;
}

.fa-instagram {
	color: #517693;
}